<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectManager</key>
	<string></string>
	<key>CostCenter</key>
	<string></string>
	<key>Project</key>
	<string></string>
	<key>Task</key>
	<string></string>
	<key>ShowTotals</key>
	<false/>
</dict>
</plist>
